.container{
    height: 670px ;
    width: 980px;
    background-color: silver;
    margin: auto;
}
.top-nav {
    height: 140px;
    width:900px;
    background-color: green;
    margin: 30px;
    padding: 10px;
    display: inline-grid;
}
.side-nav {
    height: 300px;
    width: 190px;
    background-color: blue;
    margin: 10px;
    margin-left:30px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-top:-310px;
    margin-left:250px;
}
.sub-content {
    height: 200px;
    width: 190px;
    background-color:yellow;
    float:left;
    margin: 20px;
}
#advertisement {
    height: 120px;
    width: 640px;
    background-color: purple;
    float: left;
    margin-left: 30px;
}
